<button class="btn-primary back-button" (click)="gotoProducts()">Back</button>

<div class="product-container">
    <div class="product-card">
      <img
        [src]="product?.image"
        alt="{{ product?.title }}"
        class="product-image"
        (error)="onImageError($event)"
      />
      <div class="product-details">
        <h1 class="product-title">{{ product?.title }}</h1>
        <p class="product-description">{{ product?.description }}</p>
        <p class="product-price">
          <strong>Price:</strong> ${{ product?.price }}
        </p>
        <p class="product-rating">
          <strong>Rating:</strong> {{ product?.rating.rate }} ★ 
          ({{ product?.rating.count }} reviews)
        </p>
        <div class="quantity-container">
          <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
          <input 
            class="quantity-input" 
            type="number" 
            [(ngModel)]="quantity" 
            [min]="1" 
            [max]="10"
            readonly />
          <button class="quantity-btn" (click)="increaseQuantity()">+</button>
        </div>
        <button class="btn btn-primary w-100" (click)="addToCart()">Add to Cart</button>
      </div>
    </div>
  </div>
  