<nav class="navbar">
  <div class="navbar-brand" style="color:#fff">ShopEasy</div>


  <div class="navbar-icons">
    <div class="cart-icon" (click)="toggleCartDetails()">
      <i class="fa fa-shopping-cart"></i>
      <span *ngIf="cartCount > 0" class="badge">{{ cartCount }}</span>
    </div>
    <div class="cart-icon" (click)="toggleProfileDropdown()">
      <i class="fa fa-user"></i>
    </div>
  </div>
</nav>

<!-- Cart Details Popup -->
<div *ngIf="showCartDetails" class="cart-details-popup">
  <div class="cart-details">
    <h4 class="cart-title">Your Cart</h4>
    <div *ngFor="let item of cartItems" class="cart-item">
      <img [src]="item.image" alt="{{ item.title }}" class="cart-item-img"  (error)="onImageError($event)" />
      <div class="cart-item-info">
        <span class="cart-item-title">{{ item.title }}</span>
        <div class="cart-item-quantity">
          <span>Qty: {{ item.quantity }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngClass]="{'profile-details-popup': true, 'show': showProfileDropdown}">
  <div class="profile-dropdown-content">
    <ul>
      <li (click)="toProfile()">Profile</li>
      <li (click)="onLogout($event)">Log Out</li>
    </ul>
  </div>
</div>
